xschema/BookStore.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE xs:schema SYSTEM "XMLSchema.dtd">

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.books.org"
            xmlns="http://www.books.org"
            elementFormDefault="qualified">

  <xs:element name="BookStore">
    <xs:complexType>
      <xs:sequence maxOccurs="unbounded">
	<xs:element name="Book" type="BookInfo"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="BookInfo">
    <xs:sequence>
      <xs:element name="Title" type="xs:string"/>
      
    </xs:sequence>
  </xs:complexType>



</xs:schema>

